body {
  color: #282828;
  font-family: sans-serif;
  display: grid;
  gap: 24px;
  background: linear-gradient(to right, #f6f8f8, #9bd2dca0);
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(86, 86, 86);
}

header {
  height: 50px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header_logo {
  width: 50px;
  justify-self: start;
}

nav {
  display: grid;
  grid-auto-flow: column;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  align-items: start;
  gap: 44px;
}

article {
  padding: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10%;
  display: grid;
  align-items: start;
  grid-template-rows: 1fr 0.1fr 0.8fr;
  text-align: center;
}

img {
  justify-self: center;
  min-width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 10%;
}

footer {
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  height: 50px;
}
